[submodule "First-HTML"]
	path = First-HTML
	url = https://github.com/wisnubayuaji/First-HTML
[submodule "coding-project/First-HTML"]
	path = coding-project/First-HTML
	url = https://github.com/wisnubayuaji/First-HTML
[submodule "coding-project/structuring-a-page-of-content"]
	path = coding-project/structuring-a-page-of-content
	url = https://github.com/wisnubayuaji/structuring-a-page-of-content
[submodule "coding-project/find-bigfoot"]
	path = coding-project/find-bigfoot
	url = https://github.com/wisnubayuaji/find-bigfoot/
[submodule "coding-project/SplatterPaint"]
	path = coding-project/SplatterPaint
	url = https://github.com/wisnubayuaji/SplatterPaint
[submodule "coding-project/test-web-private"]
	path = coding-project/test-web-private
	url = https://github.com/wisnubayuaji/test-web-private
