body {
  background-color: aqua;
}

table {
  border: 10px solid yellow;
  /* border-collapse: collapse; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th,
td {
  background-color: aqua;
  padding: 25px;
  text-align: center;
}
