table {
  width: 50%;
  border: 10px solid lightgrey;
  border-collapse: collapse;

  /* untuk bikin di tabel jadi ada di tengah */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td,
th {
  /* border: 1px solid black; */
  padding: 8px;
  font-size: 3vw;
}

img {
  width: 80%;
  height: auto;
}

#thead {
  text-align: center;
  background-color: lightgrey;
  font-size: 3vw;
}

.image {
  width: 55%;
  text-align: right;
}
